body{
    background-image: url(https://t3.rbxcdn.com/0c930909b22994964e414a9b425b1c4a);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family: 'Baloo Tammudu', cursive;
    font-size: 2em;
    text-decoration: underline black;
}